<html>

<head>
    {% block extra_headers %}


    {% endblock %}


</head>

<body>


<header>

    <nav>
        <ul>

            <li><a href="{% url 'index' %}">Home</a></li>

            <li><a href="{% url 'categories-list' %}">Categories</a></li>

            <li><a href="{% url 'add-category' %}">Add category</a></li>

            <li><a href=""></a></li>

        </ul>
    </nav>

</header>


<section class="wrapper">

    {% block content %}


    {% endblock %}

</section>


<footer>

    <h2>foooter !</h2>

</footer>

</body>

</html>